<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div>

        <div th:if="${jobs} and ${jobs.size()}">
            <h3 th:text="${jobs.size()} + ' Result(s)'"></h3>
        </div>
        <div>

            <table class="job-listing" th:each="job : ${jobs}">
                <tbody>
                <tr th:each="mapEntry : ${job}">
                    <td th:text="${mapEntry.key}"></td>
                    <td th:text="${mapEntry.value}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

</body>
</html>